.DS_Store
.git
coverage
node_modules
__tests__
docs
k8s

.dockerignore
.env
.gitignore
banner.png
Dockerfile
jest.config.js
nconf.json
yarn-error.log
package-lock.json
yarn.lock
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
skaffold.yaml
README.md
start.sh
stop.sh
